.barra-lateral {
    width: 8%;
    height: 100vh; 
    background-color: #6C63FF; 

  }
  
  .logo img {
    width: 100%;
    margin-bottom: 100px; 
  }
  
  #iconeUser{
    margin-top: 200px;
  }

  .icones {
    display: flex; 
    flex-direction: column; 
  }
  
  .icone {
    margin-top: 70px;
    margin-bottom: 10px; 
    opacity: 53%;
  }
  
  .icone img {
    width: 32px; 
    height: auto; 
  }
  